<h2>Nimekiri</h2>
<table>
  <thead>
  <tr>
    <th *ngFor="let column of columnsToDisplay" scope="col">
      {{column}}
      <i class="fas fa-sort"></i>
    </th>
  </tr>
  </thead>
  <tbody *ngFor="let element of list">
    <tr>
      <td>
        {{element.firstname}}
      </td>
      <td>
        {{element.surname}}
      </td>
      <td>
        {{checkSex(element.sex)}}
      </td>
      <td>
        {{element.date * 1000 | date: 'yyyy.MM.dd'}}
      </td>
      <td>
        {{element.phone}}
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [ellipses]="ellipses"
                  [rotate]="true" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="refreshList()" [maxSize]="maxSize">
  </ngb-pagination>
</div>
