<h2>Nimekiri</h2>
<table>
  <thead>
  <tr>
    <th *ngFor="let column of columnsToDisplay" scope="col">
      {{column}}
      <i class="fas fa-sort"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let element of list">
    <tr (click)="element.expanded = !element.expanded; check(element)" class="clickable" [class.active]="element.expanded">
      <td>
        {{element.firstname}}
      </td>
      <td>
        {{element.surname}}
      </td>
      <td>
        {{checkSex(element.sex)}}
      </td>
      <td>
        {{element.date * 1000 | date: 'yyyy.MM.dd'}}
      </td>
      <td>
        {{element.phone}}
      </td>
    </tr>
    <ng-container *ngIf="element.expanded">
      <tr *ngFor="let details of findDetails(element)">
        <td colspan="5">
          <div class="person-info">
            <div class="image">
              <div class="image-wrapper" [style.background-image]="'url(' + details.images[0].medium + ')'">
                <img [src]="details.images[0].medium"/>
              </div>
            </div>
            <div class="content" [innerHTML]="details.intro">
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
<div class="d-flex justify-content-center p-2">
  <ngb-pagination [collectionSize]="collectionSize" [ellipses]="ellipses"
                  [rotate]="true" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="refreshList()" [maxSize]="maxSize">
  </ngb-pagination>
</div>
