.intro p {

  font-weight: 700;
}

article h2 {
  font-weight: 700;
  font-size: 48px;
  color: #14cc76;
  text-align: center;
}

h2 {
  margin-bottom: 60px;
}

p {
  font-size: 24px;
  line-height: 150%;
}
article p {
  margin: 40px 0!important;
}

article .image {
  height: auto;
  width: 100%;
}

article .image-wrapper {
  background: center center/cover no-repeat;
  padding-bottom: 60%;
  position: relative;
}
