.page-container {
  display: flex;
  background: #efefef;
  padding: 60px 0;
  flex-grow: 1;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  padding: 0 60px;
  position: relative;
  flex-grow: 1;
}
