body {
  background: #3A3D57;
  background-image: url('src/assets/img/bg-deco-left.svg'),url('src/assets/img/bg-deco-right.svg');
  background-repeat: no-repeat;
  background-position: left bottom,right top;
  background-size: 150px,250px;
  background-attachment: fixed;
}

body {
  margin: 0;
  height: 100%;
}

