body {
  background: #3A3D57;
  background-image: url('src/assets/img/bg-deco-left.svg'),url('src/assets/img/bg-deco-right.svg');
  background-repeat: no-repeat;
  background-position: left bottom,right top;
  background-size: 150px,250px;
  background-attachment: fixed;
}

body {
  margin: 0;
  height: 100%;
}

body {
  line-height: 1;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 150%;
}

article p {
  margin: 40px 0!important;
}
